In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm
tqdm.pandas()

# ‚ú®Learning objectives
- Learn how vectorize text using language transformer models
- Learn how to perform information retrieval (aka similarity  search) on text data

# üíº Business question: 
Can we create a search system that will take a movie's plot description and find other similar movies?
I.e. can we create a simple recommendation system?

### Load the dataset
The source for the dataset: https://www.kaggle.com/jrobischon/wikipedia-movie-plots
```
Plot summary descriptions scraped from Wikipedia

Content
The dataset contains descriptions of 34,886 movies from around the world. Column descriptions are listed below:

Release Year - Year in which the movie was released
Title - Movie title
Origin/Ethnicity - Origin of movie (i.e. American, Bollywood, Tamil, etc.)
Director - Director(s)
Plot - Main actor and actresses
Genre - Movie Genre(s)
Wiki Page - URL of the Wikipedia page from which the plot description was scraped
Plot - Long form description of movie plot (WARNING: May contain spoilers!!!)
```

In [2]:
df = pd.read_csv('data/wiki_movie_plots_deduped.csv')
df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [3]:
df.shape

(34886, 8)

### Transform movie plots into vectors using language transformers ü§ñ

From Wikipedia:
> A transformer is a deep learning model that adopts the mechanism of attention, differentially weighing the significance of each part of the input data. It is used primarily in the field of natural language processing (NLP) and in computer vision (CV).

At the end of this lesson, you'll find some additional resources on language transformers.
Three things are important to know for our purposes:
- just like `word2vec` transformers are capable of encoding text documents into vectors
- unlike `word2vec`, which uses a bag-of-words assumption, transformers take into account the sequence of words in the entire document
- there are plenty of pretrained models available so that we don't have to train our own language transformer model

Below we'll take advantage of a pretrained [`MINILM`](https://arxiv.org/abs/2002.10957) model available in the [`sentence-transformers`](https://github.com/UKPLab/sentence-transformers) library.

In [4]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

In [5]:
vec = model.encode('text to be encoded as a vector')
vec.shape

(384,)

In [6]:
vec

array([-6.53098598e-02, -2.37192973e-01, -4.02155757e-01, -2.92886406e-01,
       -2.83317100e-02, -1.57253161e-01, -1.68945396e-03, -1.75767168e-02,
       -1.75248206e-01,  4.23989624e-01,  8.84522870e-02, -1.37995929e-01,
       -4.12889309e-02,  2.90352821e-01,  7.73523748e-02,  1.66886538e-01,
       -4.14034098e-01,  7.47231722e-01, -9.51502994e-02, -3.27102840e-01,
        3.29275340e-01,  4.39708084e-02, -3.53455335e-01, -7.72817433e-02,
        1.17481440e-01,  7.21677959e-01,  1.14074983e-01, -1.22848421e-01,
        4.48687196e-01, -2.33250201e-01,  3.87917578e-01,  2.28660032e-01,
        5.51502526e-01,  3.48250598e-01, -4.16423440e-01,  1.44073069e-01,
        8.19080602e-03,  2.80054603e-02,  8.01526681e-02, -9.43190008e-02,
        4.41039801e-02,  4.80651036e-02, -1.41612351e-01, -2.52890736e-01,
        4.17781949e-01, -1.84089363e-01, -1.65566802e-01, -8.29408988e-02,
       -2.09465206e-01,  2.69925624e-01, -6.35559738e-01,  2.86408097e-01,
       -8.13528657e-01,  9.92147699e-02, -6.33578673e-02, -3.40284556e-02,
       -1.54638626e-02, -5.15578330e-01,  3.50155801e-01, -3.93920422e-01,
       -5.31918764e-01, -1.77344475e-02,  5.17090082e-01,  6.79578364e-01,
       -5.92956133e-03, -2.75817543e-01, -2.60329962e-01,  4.92770940e-01,
       -2.27563913e-04, -3.71022701e-01, -3.53520028e-02,  1.65794671e-01,
       -1.61075085e-01,  5.71324766e-01, -4.10995841e-01,  4.29352939e-01,
       -8.30912367e-02,  4.02617842e-01,  3.47217500e-01,  5.66032454e-02,
        3.97786856e-01,  3.70867848e-01,  2.15471610e-01, -3.61437470e-01,
        2.29836777e-01,  1.37143955e-01,  5.92639625e-01, -8.67313817e-02,
        3.57866228e-01,  7.52301514e-02, -5.28376922e-02, -3.27912748e-01,
        4.85876292e-01,  7.34668300e-02, -4.42359969e-02, -4.22407612e-02,
        5.09669781e-01, -5.18066108e-01,  4.28858548e-01,  1.16394227e-02,
       -3.99153143e-01, -3.13774757e-02, -3.78628969e-01,  2.64756262e-01,
        7.17147216e-02, -2.97679659e-03,  1.31733222e-02, -4.64327753e-01,
        6.58525109e-01, -3.39538217e-01,  2.90416777e-01,  6.49925396e-02,
       -6.95300281e-01, -2.18347728e-01, -5.83950356e-02, -1.58185065e-01,
        2.65456736e-01, -2.39724100e-01,  2.47134268e-01,  5.20155787e-01,
       -1.06168799e-01, -6.86988056e-01, -6.17409408e-01,  2.14224190e-01,
        6.07394636e-01,  6.47960305e-02,  2.46280566e-01,  1.20363636e-02,
        1.39531642e-01,  1.95519365e-02,  4.87082541e-01, -1.35481268e-01,
       -1.49541005e-01,  5.56844175e-01, -1.94984198e-01, -6.04152441e-01,
       -4.88245487e-01,  5.45091778e-02, -7.40993083e-01, -3.98383528e-01,
       -1.42694309e-01,  5.26619852e-01, -2.68304825e-01,  1.54426634e-01,
        2.99092382e-01,  6.06895611e-02, -5.10467827e-01,  6.49876297e-02,
       -1.08607106e-01,  5.73719859e-01, -9.13342610e-02, -5.70404768e-01,
       -5.62530935e-01, -9.20487791e-02,  1.16885692e-01, -3.09352785e-01,
        3.36546719e-01,  6.70686886e-02, -6.70611918e-01, -5.35411596e-01,
        3.74994218e-01,  4.23084140e-01, -6.08322537e-03,  2.35766068e-01,
        6.08080029e-01, -6.20015003e-02, -1.87225714e-01,  4.24930573e-01,
        4.12207395e-01, -1.33977598e-02,  3.63848060e-01,  1.81049123e-01,
       -2.38207847e-01, -3.16869561e-03,  9.60485041e-02, -2.63456672e-01,
       -2.75256246e-01, -6.40701428e-02, -3.44868541e-01,  4.28636253e-01,
        5.48876882e-01, -4.00462747e-01,  5.19509852e-01,  1.75085127e-01,
       -4.20768112e-01, -2.25059927e-01,  4.94698197e-01, -1.65501758e-01,
       -7.88330376e-01, -1.45713866e-01,  3.92809331e-01, -3.39904457e-01,
        1.37130544e-01, -2.10992217e-01, -6.70161918e-02, -8.20597112e-01,
        1.93735778e-01,  4.09447476e-02, -2.17188671e-01, -2.21379757e-01,
       -8.03686082e-02, -6.30980372e-01, -4.07428890e-02,  3.91093433e-01,
       -9.74138975e-02, -4.58521806e-02,  9.90293697e-02,  4.28688377e-01,
       -6.11988604e-01,  7.82703280e-01, -6.07219189e-02, -1.04574718e-01,
        5.84433496e-01,  5.83298206e-02, -2.81792700e-01, -8.23634207e-01,
       -3.64796907e-01, -1.95687879e-02,  1.18866429e-01,  6.65878803e-02,
       -2.99703144e-02, -5.18985987e-01,  4.38713506e-02, -1.17541842e-01,
       -6.47220194e-01,  4.19216156e-01, -7.64389575e-01,  1.61137968e-01,
       -9.90218580e-01,  1.33423030e-01,  3.58477265e-01,  3.97402227e-01,
       -2.63558626e-01, -1.98256075e-01, -6.66276738e-02,  1.26660168e-01,
       -4.38971877e-01, -1.82499960e-01,  4.12619971e-02, -4.25095111e-02,
        4.97514397e-01,  8.94685209e-01, -2.09124088e-01, -6.14179075e-01,
       -2.28568718e-01,  1.57238185e-01,  1.07199783e-02,  4.40894037e-01,
       -4.96347435e-03,  3.21316391e-01,  3.54277730e-01,  2.94190288e-01,
       -3.54253314e-02, -1.64468527e-01,  3.08058769e-01, -3.22233066e-02,
       -2.27282703e-01,  7.63764083e-02,  4.41405654e-01, -3.77996755e-03,
        4.13427025e-01,  1.37092277e-01,  1.49615929e-01,  4.26684648e-01,
       -4.47638845e-03,  6.02470040e-01, -4.31438327e-01,  6.41773120e-02,
       -3.18072021e-01, -3.07953894e-01, -5.57608664e-01,  8.86969149e-01,
        5.87264657e-01, -2.62224991e-02,  1.27863646e-01, -8.19409311e-01,
        1.11323990e-01, -4.18624401e-01, -2.31115922e-01, -4.65032458e-01,
       -4.01429296e-01, -1.26690909e-01,  1.75555974e-01,  5.62655151e-01,
       -2.76089370e-01, -3.24399203e-01, -5.32145314e-05, -5.82864583e-01,
        3.61047626e-01,  1.15193687e-01, -6.26121312e-02, -2.48486340e-01,
        1.80963382e-01, -2.18048155e-01,  4.60193269e-02, -2.35144243e-01,
       -7.30391070e-02,  4.96743888e-01,  4.65442866e-01, -7.19306529e-01,
       -3.38126570e-02, -1.89844504e-01,  2.16809586e-01,  6.56109005e-02,
        4.02700871e-01, -1.89460963e-01,  1.68582603e-01,  6.57934472e-02,
        6.63692534e-01, -6.21672750e-01, -9.35259908e-02,  8.72406811e-02,
       -1.37527227e-01, -1.59056962e-01,  1.49230167e-01,  6.00159049e-01,
       -2.71426320e-01,  3.89442325e-01,  8.91280323e-02,  1.05501875e-01,
       -4.37117517e-01, -9.17647600e-01, -4.50892180e-01, -1.60996150e-02,
        2.82335222e-01,  3.37322354e-01, -3.40359569e-01, -1.08868742e+00,
        1.79010466e-01, -5.15490174e-01,  1.69797093e-01, -2.70902723e-01,
       -6.57883644e-01, -1.21289462e-01,  8.41955543e-02, -1.13710061e-01,
       -1.96931101e-02, -1.77730858e-01,  2.88397193e-01,  1.04390517e-01,
        3.60901691e-02,  6.65954947e-02, -9.50194061e-01,  4.86583591e-01,
        3.90138149e-01, -2.17414111e-01,  2.48786986e-01,  2.01849490e-01,
        4.73553658e-01,  6.64251223e-02, -2.74444908e-01,  6.37988627e-01,
        1.44896060e-01,  5.68706214e-01,  1.09058350e-01, -1.25075594e-01,
        5.31070292e-01, -1.51071489e-01, -1.91046074e-02,  8.90620530e-01,
        3.54342341e-01,  3.09593618e-01, -5.66112518e-01, -2.34934434e-01,
        5.40440567e-02, -1.18961126e-01,  6.88092336e-02, -2.99773633e-01,
        2.37418815e-01, -2.73797572e-01,  1.68038145e-01,  1.63568556e-01,
        1.03940696e-01,  5.39688826e-01, -3.44604611e-01, -7.94908881e-01,
       -2.13857722e-02, -5.62535673e-02,  3.57290626e-01,  4.69029218e-01,
        1.91712275e-01,  1.52306259e-01,  8.29087198e-02, -1.38329208e-01],
      dtype=float32)

Generate vector representations for all movie plots

In [7]:
df['vec'] = df['Plot'].progress_apply(model.encode)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 34886/34886 [07:23<00:00, 78.60it/s]

In [8]:
df[['Plot', 'vec']].head()

,Plot,vec
0,"A bartender is working at a saloon, serving dr...","[0.15061118, 0.09013437, -0.1195993, -0.155564..."
1,"The moon, painted with a smiling face hangs ov...","[0.13909757, 0.16326891, 0.24832156, -0.024223..."
2,"The film, just over a minute long, is composed...","[0.13978973, 0.17100815, -0.14208138, 0.037247..."
3,Lasting just 61 seconds and consisting of two ...,"[-0.17586792, 0.01116799, 0.16533226, 0.036813..."
4,The earliest known adaptation of the classic f...,"[-0.21197395, 0.25960857, 0.2994074, -0.253225..."

### Use Similarity Search techniques to find similar movies

From [Wikipedia](https://en.wikipedia.org/wiki/Nearest_neighbor_search):
> Nearest neighbor search (NNS), as a form of proximity search, is the optimization problem of finding the point in a given set that is closest (or most similar) to a given point. Closeness is typically expressed in terms of a dissimilarity function: the less similar the objects, the larger the function values.

We'll use [`NearestNeighbors`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html) search algorithm available in `sklearn`.
Below we perform the following steps:
1. extract vectors and transform them into numpy arrays
2. create an instance of NearestNeighbors
3. train our model (often referred to as a search index)

In [9]:
from sklearn.neighbors import NearestNeighbors

vectors = np.array(df['vec'].values.tolist())
nn = NearestNeighbors()
index = nn.fit(vectors)

Now our search index is trained.
Let's write a convenience function that takes the plot description of a movie and returns movies with similar plots.
For that, we'll need to:
1. turn our input text into a vector
2. pass this vector to the [`.kneighbors()`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors.kneighbors) method of the search index. Optionally, we can change the number of nearest neighbors that gets returned by passing the `n_neighbors` parameter.
3. select a subset of movies based on the indices returned by the `.kneighbors()` method

In [10]:
def get_similar(text, 
                df=df, 
                cols_to_return=['Title', 'Release Year', 'Origin/Ethnicity', 'Genre'],
                n_neighbors=15):
    vector = [model.encode(text)]
    neigh_ind = index.kneighbors(vector, n_neighbors=n_neighbors, return_distance=False)
    df_subset = df.iloc[neigh_ind[0]][cols_to_return]
    return df_subset

Finally, we can give our search system a try. Let's see what we movies have plots similar to [Titanic üö¢](https://en.wikipedia.org/wiki/Titanic_(1997_film)#Plot)

In [11]:
plot_text_titanic = """
In 1996, aboard the research vessel Akademik Mstislav Keldysh, Brock Lovett and his team search the wreck of RMS Titanic. They recover a safe they hope contains a necklace with a large diamond known as the Heart of the Ocean. Instead, they only find a drawing of a young nude woman wearing the necklace. The sketch is dated April 14, 1912, the same day the Titanic struck an iceberg.[Note 1] Rose Dawson Calvert, the woman in the drawing, and her granddaughter, are brought aboard Keldysh. Rose recounts her experiences aboard Titanic.
In 1912 Southampton, 17-year-old Rose DeWitt Bukater, her wealthy fianc√© Cal Hockley, and Rose's widowed mother, Ruth, board the Titanic. Ruth emphasizes that Rose's marriage to Cal will resolve the family's financial problems and maintain their upper-class status. Meanwhile, Jack Dawson, a poor young artist, wins a third-class Titanic ticket in a poker game. After setting sail, Rose, distraught over her loveless engagement, climbs over the stern railing, intending to jump overboard. Jack appears and coaxes her back onto the deck. The two develop a tentative friendship, but when Cal and Ruth strongly object, Rose acquiesces and discourages Jack's attention. She soon realizes she prefers Jack over Cal.
Rose brings Jack to her state room and pays him to sketch her nude, wearing only the Heart of the Ocean necklace. They later evade Cal's servant, Lovejoy, and have sex in an automobile inside the cargo hold. On the forward deck, they witness the ship's collision with an iceberg and overhear its officers and builder discussing the serious situation. Cal discovers Jack's sketch and Rose's insulting note left inside his safe, along with the necklace. When Jack and Rose return to warn the others about the collision, Cal has Lovejoy slip the necklace into Jack's pocket to frame him for theft. Jack is then confined in the master-at-arms' office. Cal puts the necklace into his overcoat pocket.
With the ship sinking, Rose flees Cal and her mother, who has boarded a lifeboat. Rose finds and frees Jack, and they barely make it back to the boat deck. Cal and Jack urge Rose to board a lifeboat. Having arranged to save himself, Cal falsely claims he can get Jack safely off the ship. As her lifeboat is lowered, Rose, unable to abandon Jack, jumps back on board. Cal grabs Lovejoy's pistol and chases Rose and Jack into the flooding first-class dining saloon. They get away, and Cal realizes that he gave his coat, and consequently the necklace, to Rose; he later boards a lifeboat posing as a lost child's father.
Jack and Rose return to the boat deck. The lifeboats have departed and the ship's stern is rising as the flooded bow sinks. As passengers fall to their deaths, Jack and Rose desperately cling to the stern rail. The upended ship breaks in half and the bow section dives downward. The remaining stern slams back onto the ocean, then upends again before it, too, sinks. In the freezing water, Jack helps Rose onto a wooden panel buoyant enough for one person. Some time later, Rose, barely alive, is saved by a returning lifeboat, but Jack, still clutching the panel, has died of hypothermia.
The RMS Carpathia rescues the survivors; Rose avoids Cal by hiding among the steerage passengers and gives her name as Rose Dawson. Still wearing Cal's overcoat, she discovers the necklace tucked inside the pocket. In the present, Rose says she later heard that Cal committed suicide after losing his fortune in the Wall Street Crash of 1929. Lovett abandons his search after hearing Rose's story. Alone on the stern of Keldysh, Rose takes out the Heart of the Ocean that has been in her possession all along, and drops it into the sea over the wreck site. While she is seemingly asleep or has died in her bed,[8] her photos on the dresser depict a happy life of freedom and adventure.
A young Rose reunites with Jack at Titanic's Grand Staircase, applauded by those who died on the ship.
"""

get_similar(plot_text_titanic)

,Title,Release Year,Origin/Ethnicity,Genre
16392,Titanic 3D,2012,American,drama
13153,Titanic,1997,American,"historical epic, disaster"
9350,The Deep,1977,American,thriller
19401,A Night to Remember,1958,British,drama
5705,Plymouth Adventure,1952,American,drama
7924,The Three Lives of Thomasina,1964,American,family
1945,Murder on a Honeymoon,1935,American,"comedy, mystery"
15317,The Reaping,2007,American,horror
17788,The Home Song Stories,2007,Australian,drama
9158,The Land That Time Forgot,1975,American,adventure
4347,Terror by Night,1946,American,film noir
34183,Blood and Steel,2011,Russian,unknown
5263,Treasure Island,1950,American,adventure
2234,The Hurricane,1937,American,adventure
6008,Titanic,1953,American,biography

We mostly see movies from the drama and adventure genres: a somewhat expected result given the plot of Titanic

Let's try another movie: [Saving Private Ryan](https://en.wikipedia.org/wiki/Saving_Private_Ryan#Plot)

In [12]:
plot_text_saving_private_ryan = """
An elderly veteran walks through a cemetery, accompanied by his family. Coming across a specific grave, he is overcome with emotion and recalls his time as a soldier. On the morning of June 6, 1944, the U.S. Army lands at Omaha Beach as part of the Normandy invasion. Captain John H. Miller leads a breakout from the beach, overwhelming fierce German resistance. Meanwhile at the United States Department of War in Washington, D.C., it is learned that James Francis Ryan of the 101st Airborne Division is the last of four brothers presumed alive but missing. General George C. Marshall orders Ryan to be found and sent home.
Miller soon receives orders to lead a unit to find Ryan. Arriving in the contested town of Neuville between the German defenders and the 101st Airborne, it is learned that Ryan is defending a key bridge in the fictional town of Ramelle. While assisting the 101st in Neuville, one of Miller's men is shot by a German sniper and is killed in action. En route to Ramelle, Miller decides against the judgment of his unit to neutralize a German machine gun nest, resulting in the loss of the unit's Medic. A surviving German soldier is spared by the intervention of Upham; Miller blindfolds the soldier and orders him to surrender himself to the next Allied patrol. When Reiben threatens to desert, Miller defuses the situation by revealing his civilian background as a teacher.
Soon arriving in Ramelle, the remaining unit make contact with Ryan and inform him of his brothers' deaths. Though upset by the news, Ryan refuses to abandon his current posting, which soon comes under siege by attacking German armor. Miller and his unit fight alongside the 101st though the German armor advantage soon starts to take its toll on the Americans. In the ensuing battle, Jackson, Mellish and Horvath are killed. In an attempt to destroy the bridge with pre-placed explosives, Miller is fatally wounded by "Steamboat Willie", the German soldier he earlier spared. As the Germans approach the bridge, P-51 Mustangs as well as advancing American Shermans with infantry rout the Germans. Steamboat Willie is personally executed by Upham, who spares his comrades.
As a result of his wounds, Miller dies, but first tells Ryan to "earn this," referring to the postwar life that he will hopefully be able to experience. Ryan is revealed to be the elderly veteran from the beginning of the film and the grave belonging to Miller. Ryan expresses his gratitude for the sacrifices made by Miller and his men and states that he hopes he indeed earned it, before saluting Miller's gravestone.
"""

get_similar(plot_text_saving_private_ryan)

,Title,Release Year,Origin/Ethnicity,Genre
13347,Saving Private Ryan,1998,American,"drama, war"
6450,7th Cavalry,1956,American,western
22197,Passchendaele,2008,Canadian,"romance, world war i drama"
6507,D-Day the Sixth of June,1956,American,war
5631,Hangman's Knot,1952,American,western
13377,The Thin Red Line,1998,American,"drama, war"
15185,Day Zero,2007,American,drama
3082,I Wanted Wings,1941,American,drama
8208,First to Fight,1967,American,war
4154,A Walk in the Sun,1945,American,war drama
16880,Fury,2014,American,war
21492,Fury,2014,British,unknown
11187,Glory,1989,American,"drama, war"
6839,Men in War,1957,American,war
11630,Flight of the Intruder,1991,American,action

The resulting movies are mainly from the drama, war and action genres.
Again, this would be an expected result for those who've seen the movie

### üèãÔ∏è Your turn: try cosine similarity metric

Video on why cosine similarity might be better than euclidean distance (default distance used in sklearn's `NearestNeighbors`)  when it comes to finding similar text documents: 
https://www.youtube.com/watch?v=3VsaLblELP0

Your task is to:
1. create a new instance of `NearestNeighbors` but this time providing `metric='cosine'` as a parameter
2. create a new search index (let's call it `index_cosine`)
3. re-define our `get_similar` function to accept an additional parameter `index` so that we can pass different search indices if we needed to. I.e. the function should have the following signature:
```python
def get_similar(text, 
                   df=df, 
                   cols_to_return=['Title', 'Release Year', 'Origin/Ethnicity', 'Genre'],
                   n_neighbors=15,
                   index=index_cosine):
                   ...                 
```

In [13]:
# THIS IS A SOLUTION: REMOVE BEFORE THE PRESENTATION
nn = NearestNeighbors(metric='cosine')
index_cosine = nn.fit(vectors)

In [20]:
# THIS IS A SOLUTION: REMOVE BEFORE THE PRESENTATION
def get_similar(text, 
                df=df, 
                cols_to_return=['Title', 'Release Year', 'Origin/Ethnicity', 'Genre'],
                n_neighbors=15,
                index=index_cosine):
    vector = [model.encode(text)]
    neigh_dist, neigh_ind = index.kneighbors(vector, n_neighbors=n_neighbors, return_distance=True)
    df_subset = df.iloc[neigh_ind[0]][cols_to_return]
    df_subset['distance'] = neigh_dist[0]
    return df_subset

Let's again try finding movies similar to Titanic and Saving Private Ryan, but this time using cosine similarity as a metric

In [21]:
get_similar(plot_text_titanic, index=index_cosine)

,Title,Release Year,Origin/Ethnicity,Genre,distance
13153,Titanic,1997,American,"historical epic, disaster",0.087355
16392,Titanic 3D,2012,American,drama,0.087355
19401,A Night to Remember,1958,British,drama,0.391392
9350,The Deep,1977,American,thriller,0.414046
12857,Titanic,1996,American,biography,0.424837
9158,The Land That Time Forgot,1975,American,adventure,0.437410
5705,Plymouth Adventure,1952,American,drama,0.438937
8059,Assault on a Queen,1966,American,crime drama,0.450015
17541,"20,000 Leagues Under the Sea",1985,Australian,animation / adventure,0.453581
7924,The Three Lives of Thomasina,1964,American,family,0.469458
2032,Captain Calamity,1936,American,"adventure, romance",0.471205
14341,Pirates of the Caribbean: The Curse of the Bla...,2003,American,"fantasy, swashbuckler",0.473518
5263,Treasure Island,1950,American,adventure,0.474967
4347,Terror by Night,1946,American,film noir,0.478138
24142,Ami Aaj Nasto Hoye Jai,2013,Bengali,drama,0.478987

In [22]:
get_similar(plot_text_saving_private_ryan, index=index_cosine)

,Title,Release Year,Origin/Ethnicity,Genre,distance
13347,Saving Private Ryan,1998,American,"drama, war",0.176766
6450,7th Cavalry,1956,American,western,0.354021
21680,Dunkirk,2017,British,unknown,0.357766
11863,Patriot Games,1992,American,crime drama,0.358656
22197,Passchendaele,2008,Canadian,"romance, world war i drama",0.363680
6839,Men in War,1957,American,war,0.385096
15185,Day Zero,2007,American,drama,0.387990
4154,A Walk in the Sun,1945,American,war drama,0.391066
11187,Glory,1989,American,"drama, war",0.391852
6507,D-Day the Sixth of June,1956,American,war,0.392438
20804,Dog Soldiers,2002,British,horror,0.392868
6127,Killers from Space,1954,American,sci-fi,0.397039
5631,Hangman's Knot,1952,American,western,0.398323
6000,Take the High Ground!,1953,American,war,0.399081
3082,I Wanted Wings,1941,American,drama,0.403149

While the results are similar to what we were getting with the default euclidean metric, some returned movies and the order of the movies (i.e. the distances to our query vector) are different.

# ‚úîÔ∏èSummary
- It's possible to take advantage of cutting-edge models (like transformers) without having to train one yourself: use someone else's pretrained models
- Using vectors to do information retrieval allows you to find documents that have similar meanings, not necessarily keywords
- Cosine similarity is often a preferred metric when dealing with high-dimensional vector spaces. There's no clear definition of what's considered "high-dimensional", but generally, the cut-off point is somewhere around 50-100 dimensions. In low-dimensional spaces, euclidean distance is used more commonly

# ‚òùÔ∏èWhere to go from here?

- How do big tech companies quickly search through millions of documents? They use slightly different nearest neighbor search algorithms that do the search approximately, not exactly. You can learn more about Approximate Nearest Neighbors algorithms in this [video](https://www.youtube.com/watch?v=QkCCyLW0ehU)

- You can apply the techniques you learned here on other datasets.
  Some places where you can find text datasets to practice:
   - [Kaggle datasets](https://www.kaggle.com/datasets)
   - [Google dataset search](https://datasetsearch.research.google.com/)
   - [Reddit r/datasets](https://www.reddit.com/r/datasets/)

# üìì Additional resources:
- Language Transformers:
   - [Video: Illustrated Guide to Transformers Neural Network](https://www.youtube.com/watch?v=4Bdc55j80l8)
   - [Introductory course on language transformers by HuggingFace](https://huggingface.co/course)
- Nearest Neighbour search:
   - [Video: StatQuest: K-nearest neighbors](https://www.youtube.com/watch?v=HVXime0nQeI)
   - Nearest neighbor methods and vector models:
      - [Part 1](https://erikbern.com/2015/09/24/nearest-neighbor-methods-vector-models-part-1.html)
      - [Part 2](https://erikbern.com/2015/10/01/nearest-neighbors-and-vector-models-part-2-how-to-search-in-high-dimensional-spaces.html)
      - [Epilogue](https://erikbern.com/2015/10/20/nearest-neighbors-and-vector-models-epilogue-curse-of-dimensionality.html)
- Learn how to measure similarity between two words not by their meaning but by the characters present in each word:
   - [Measuring Text Similarity Using the Levenshtein Distance](https://blog.paperspace.com/measuring-text-similarity-using-levenshtein-distance/)
   - [Implementing The Levenshtein Distance for Word Autocompletion and Autocorrection](https://blog.paperspace.com/implementing-levenshtein-distance-word-autocomplete-autocorrect/)